#eventDetailsMap {
    height: 57vh;
}

#eventDetailsCard {
    height: 43vh;
}

.card-header {
    align-items: center;
    display: flex;
}

.card-title-div {
    flex-grow: 1;
    text-align: center;
}

.card-title-header {
    margin-left: -100px;
}