.App {
  text-align: center;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
}

.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
  padding-inline: calc(28% - 8px - 4px);
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu > .ant-menu-submenu-title  {
  padding-left: 15px !important;
}