@import 'variables.css';

.main-div-list-page {
  display: flex;
  flex-direction: column;
  height: var(--main-div-height);
}

.top-bar-list-page {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
