@import 'variables.css';

.mainDivListPage {
  display: flex;
  flex-direction: column;
  height: var(--main-div-height);
}

.topBarListPage {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
