@import 'variables.css';

.login-container {
  align-items: center;
  display: flex;
  height: var(--main-div-height);
  justify-content: center;
}

.login-form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 20px;
  width: 100%;
}

.login-form h2 {
  font-size: 24px;
  text-align: center;
}

.login-form input {
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form button {
  font-size: 16px;
}

.login-form button:hover {
  background-color: #40a9ff;
}
