.mainDivTablePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tableDiv {
    flex: 1;
    padding: 10px;
}

.topBarTablePage {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.ant-table-thead th {
    text-align: center !important;
}